﻿@page
<div class="container">
    <div>&nbsp;</div>
    <div style="text-align:center">
        <h1>LaboOpdracht1</h1>
        <p>
            Ik heb voor deze opdracht een ASP.net core website gemaakt die een MongoDB update. Ik heb ook gebruik gemaakt van signal R om een soort log te maken.
            Als laatste heb ik ook een webcam aan mijn pi gehangen en de feed daarvan op mijn website geplaatst.
        </p>
    </div>
</div>