﻿@page
<div class="container">
    <div>&nbsp;</div>
    <br />
    <div style="text-align:center">
        name
        <br />
        <input type="text" id="userInput" />
        <br />
        password
        <br />
        <input type="text" id="messageInput" />
        <br />
        <input type="button" id="sendButton" value="Create User" />
    </div>
    <div>&nbsp;</div>
    <div id="messagesList" style="text-align:center"></div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/mongoDB.js"></script>